---
layout: default
title: About
navigation_weight: 1
---

<div id="main" class="flexrow">
    <div id="sidebar" class="flexleft">
        <h3>Algorithms</h3>
        <h3>Machine Learning</h3>
        <img id="headshot" src="{{ "/assets/headshot.jpg" | relative_url }}" />
    </div>
    <div id="page" class="flexright">

    <h3>Contact</h3>

    <ul id="contact">
        <li class="email"><a href="mailto:jw@johnwilmes.name">{% include icons/envelope-solid.svg %}jw@johnwilmes.name</a></li>
        <li class="github"><a href="https://github.com/johnwilmes">{% include icons/github.svg %}GitHub</a></li>
        <li class="linkedin"><a href="https://www.linkedin.com/in/john-wilmes/">{% include icons/linkedin.svg %}LinkedIn</a></li>
    </ul>

    
    <p> I am an experienced algorithms researcher with expertise in Deep Learning and Markov Chain
    Monte Carlo techniques. My work includes first-in-class training guarantees several neural
    network architectures and results published in top computer science venues such as NeurIPS,
    COLT, FOCS, and STOC.</p>

    <p>I'm currently available for work&mdash;get in touch!</p>

    <h4>Background</h4>

    <p>Over the course of three years as Assistant Professor of Mathematics at Brandeis University, I
    <ul>
        <li>was awarded an NSF grant ("Guarantees for Training Neural Networks") for my machine learning research</li>
        <li>designed a new Applied Mathematics major, collaborated across departments to win approval, and led colleagues in adopting
            and implementing it</li>
        <li>supervised two PhD theses, resulting in new best algroithm for approximating
            permanents, via MCMC techniques, and first training guarantees for graph convolutional
        neural networks over SBMs</li>
    </ul>
    I left Brandeis in 2021 to relocate to Chicago with my family.</p>

    <p>Previously, I was a postdoc in the Algorithms and Randomness Center at
    Georgia Tech where I produced provable guarantees for training neural
    networks and Markov chain Monte Carlo algorithms. My Ph.D. thesis at the University of Chicago
    introduced faster algorithms for bottleneck cases of the graph isomorphism problem.</p>

        </div>
    </div>
</div>
