---
layout: default
title: Publications
navigation_weight: 3
version_types:
  - name: journal
    description: Journal version
  - name: conference
    description: Conference version
  - name: chapter
    description: Chapter
---
<div id="main" class="flexrow">
    <div id="sidebar" class="flexleft">
        <p>See also my pages on the <a href="https://arxiv.org/a/wilmes_j_1.html">arXiv</a>,
        <a href="https://dblp.org/pers/hd/w/Wilmes:John">DBLP</a>, and <a
           href="https://scholar.google.com/citations?user=wsLqB5UAAAAJ&hl=en">Google Scholar</a>.</p>
    </div>
    <div id="page" class="flexright">
{%- assign topics = site.data.research | sort: 'weight' -%}
{%- for topic in topics -%}
<section>
<h2>{{ topic.title }}</h2>
    {%- for work in topic.works -%}
    <div class="work">
    <h3 class="work-title">{{ work.title }}</h3>
    <div class="work-description">{{ work.author }}</div>
{%- for type in page.version_types -%}
{%- assign versions = work | map: type.name | where_exp: "v", "v.where" -%}
    {%- for version in versions -%}
    <div class="work-version">
        {{ type.description }} in 
        {% if version.url -%}<a href="{{ version.url }}">{%- endif -%}<span class="work-where">{{ version.where }}</span>
            <span class="work-when">{{ version.when }}</span>{%- if version.url -%}</a>{%- endif -%}
{%- if version.future or version.title -%}
    {%- if version.future -%}
        {%- assign appearance = "to appear" -%}
    {%- else -%}
        {%- assign appearance = "appearing" -%}
    {%- endif -%}
    {%- if version.title -%}
{%- capture app_title %} as <h5 class="work-title">{{ version.title }}</h5>{% endcapture -%}
    {%- else -%}
    {%- assign app_title = "" -%}
    {%- endif -%}
    <div class="work-appear">{{ appearance }}{{ app_title }}</div>
{%- endif -%}
{% if version.note %}
<div class="work-note">{{ version.note }}</div>
{% endif %}
    </div>
    {%- endfor -%}
{%- endfor -%}
    {% if work.arxiv %}
        <div class="work-version">
            Preprint available on the <a href="{{ work.arxiv }}">arXiv</a>
        </div>
    {% endif %}
    </div>
    {%- endfor -%}
</section>
{%- endfor -%}

<section id="theses">
    <h2>Theses</h2>
    <div class="work">
        <h3 class="work-title">
           Structure, automorphisms, and isomorphisms of regular combinatorial objects
        </h3>
        <div class="work-description">Ph.D. thesis, University of Chicago. Advised by
            László Babai.</div>
        <div class="work-version">
            Available <a href="{{ "/assets/uchicago-thesis.pdf" | relative_url }}">here</a>
        </div>
    </div>
    <div class="work">
        <h3 class="work-title">
           Algebraic invariants of sandpile graphs
        </h3>
        <div class="work-description">B.A. thesis, Reed College. Advised by
            David Perkinson.</div>
        <div class="work-version">
            Available <a href="{{ "/assets/reed-thesis.pdf" | relative_url }}">here</a>
        </div>
    </div>
</section>


</div>
