$primary: rgb(0, 52, 120);
$secondary: rgb(88, 89, 91);
$surface: rgb(255, 255, 255);
$surface-var: rgb(245, 245, 245);

$on-primary: rgb(255, 255, 255);
$on-secondary: rgb(255, 255, 255);
$on-surface: rgb(0, 0, 0);
$on-surface-var: rgb(47, 47, 47);

html {
  background-color: $surface;
  color: $on-surface;
}

h1, h2, h3, h4 {
  color: $on-surface-var;
}

#topbar {
  background-color: $primary;
  * {
      color: $on-primary;
  }
}

#page h3 {
    color: $primary;
}

#main {
    a:link, a:visited {
    color: $primary;
    }
}
