.work {
    padding: 0.5rem 0;
    max-width: 40rem;
    margin-bottom: 1rem;
    position: relative;

  &:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0.25rem;
    width: 10rem;
    height: 1px;
    content: "";
    background: rgb(88, 89, 91);
    content: '';
  }
}

.work-version {
    margin-bottom: 0.5rem;
}

.work-description {
    margin-top: -0.2rem;
    margin-bottom: 0.3rem;
}

.work-appear:before, .work-note:before {
    content: $middot;
    margin: 0 0.5rem;
}

h5.work-title {
    display: inline;
    font-size: 100%;
    font-weight: inherit;
    margin: 0;
}

h5.work-title:before {
    content: $lquote;
}

h5.work-title:after {
    content: $rquote;
}

.work-where {
    font-weight: bolder;
}

.work-note {
    font-weight: bolder;
}

.work-when:before {
    content: "(";
}

.work-when:after {
    content: ")";
}

